body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

button {
    padding: .3em .8em;
    color: white;
    background-color: darkgreen;
    font-size: 1.2em;
    border: none;
    border-radius: .3em;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
    cursor: pointer;
}
