body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

button {
    padding: .3em .8em;
    color: white;
    background-color: darkgreen;
    font-size: 1.2em;
    border: none;
    border-radius: .3em;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
    cursor: pointer;
}

.container {
    text-align: center;
}

.board {
    display: inline-table;
    user-select: none;
    cursor: default;
}

.row {
    display: table-row;
}

.field {
    display: table-cell;
    width: 80px;
    height: 80px;
    border: 1px solid gray;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
    font-weight: bold;
}
.board.playing .field.empty {
    cursor: pointer;
}
.board.playing .field.empty:hover {
    background-color: lightblue;
}

.board.won.cross .field.cross,
.board.won.circle .field.circle {
    background-color: lightgreen;
}
